/* header start */

header .land-sec {
  background-image: url("../images/Component\ 1\ \(3\).png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

header .land-sec .top-ball {
  position: absolute;
  right: 50%;
  top: 0;
}

header .land-sec h1 {
  font-weight: 900;
  font-size: 30px;
  line-height: 50px;
  text-align: right;
  letter-spacing: 0.5px;
  color: var(--white);
  margin-top: 3rem;
}

header .land-sec p {
  font-weight: var(--bold-font);
  font-size: 20px;
  line-height: 50px;
  text-align: right;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.84);
}

@media (max-width: 767px) {
  header .land-sec h1 {
    margin-top: 2rem;
  }

  header .land-sec {
    height: 1200px;
  }
}

header .land-sec .btn-light {
  background: #ffffff;
  border-radius: 40px;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  display: flex;
  z-index: 0;
  gap: 20px;
  align-items: center;
  text-align: right;
  color: #050000;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

header .land-sec .btn-light:hover {
  background-color: #4d5ef8;
  border-color: #4d5ef8;
  color: white;
}

header .land-sec h6 {
  font-weight: 700;
  font-size: 28px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.5px;
  color: var(--white);
}

header .land-sec h6 span {
  font-weight: var(--bold-font);
  font-size: 18px !important;
  line-height: 50px;
  text-align: right;
  letter-spacing: 0.5px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.66);
}

@media (max-width: 420px) {
  header .land-sec h6 {
    display: none;
  }
}

.land-sec .header .navbar-nav .nav-link {
  font-weight: 400;
  line-height: 22px;
  color: white;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  position: relative;
  padding-right: 0px;
}

#myheader .navbar-nav .nav-link {
  font-weight: 500;
  line-height: 22px;
  color: black;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  position: relative;
  padding-right: 0px;
}

.land-sec #myheader .nav-link::after {
  content: "";
  position: absolute;
  background-color: rgba(75, 111, 255, 1);
  border-radius: 10px;
  height: 3px;
  width: 50%;
  bottom: 0;
  right: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: none;
}
.land-sec #myheader .active::after {
  display: block;
}
.land-sec #myheader .active::before {
  display: none;
}

.land-sec #myheader .nav-link::before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  border-radius: 10px;
  right: auto;
  left: 0;
  bottom: 0;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background-color: rgba(75, 111, 255, 1);
}
.land-sec #myheader .nav-link:hover::before {
  width: 100%;
  right: 0;
  left: auto;
}

header {
  min-height: 100vh;
  position: relative;
}

#myheader {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white !important;
  height: 90px;
  box-shadow: -1px 0px 5px rgb(57 63 72 / 30%) !important;
  transition: display 5s 3s ease !important;
}

.sticky > .nav {
  padding-top: 0px !important;
}

.offcanvas-body .nav-link {
  height: 20px !important;
}

.land-sec .header .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  background-color: white;
  border-radius: 10px;
  height: 3px;
  width: 50%;
  bottom: 0;
  right: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: none;
}
.land-sec .header .navbar-nav .active::after {
  display: block;
}
.land-sec .header .navbar-nav .active::before {
  display: none;
}

.land-sec .header .navbar-nav .nav-link::before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  border-radius: 10px;
  right: auto;
  left: 0;
  bottom: 0;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background-color: white;
}
.land-sec .header .navbar-nav .nav-link:hover::before {
  width: 100%;
  right: 0;
  left: auto;
}

.land-sec .header .offcanvas-start {
  transition: all 1s !important;
  -webkit-transition: all 1s !important;
  -moz-transition: all 1s !important;
  -ms-transition: all 1s !important;
  -o-transition: all 1s !important;
}
.land-sec .header .offcanvas-start .navbar-nav .nav-link {
  font-weight: 400 !important;
  line-height: 22px;
  color: white;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  position: relative;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.land-sec .header .offcanvas-start .navbar-nav .nav-link:hover {
  color: #a6c1e8;
}

.land-sec .header .offcanvas-start .navbar-nav .active {
  color: #a6c1e8;
}
.land-sec .header .offcanvas-start .navbar-nav .active::after {
  display: none;
}
.land-sec .navbar-light .nav-toggle {
  color: white !important;
  font-size: 30px !important;
  font-weight: bold;
  display: block;
}
@media (min-width: 992px) {
  .land-sec .navbar-light .nav-toggle {
    display: none;
  }
}

.land-sec .header .offcanvas {
  background-color: #37429f;
}

@media (min-width: 500px) {
  .land-sec .header .offcanvas {
    width: 50%;
  }
}
.land-sec .header .offcanvas-header .btn-close {
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}

.land-sec .top-sec .top-title h1 {
  color: white;
  font-weight: 800 !important;
  line-height: 184%;
}
.land-sec .top-sec .top-title h3 {
  color: white !important;
  font-weight: 500 !important;
}

.btn-danger {
  background-color: transparent !important;
  border-color: white !important;
  border: 1px solid #ffffff;
  border-radius: 6px;
  width: 129px;
  height: 42px;
  position: relative;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  z-index: 0;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.btn-danger:hover {
  background-color: white !important;
  border-color: white !important;
  color: #4d5fff !important;
}

#myheader .btn-danger {
  background-color: transparent !important;
  border: 1px solid #4d5fff !important;
  border-radius: 6px;
  width: 129px;
  height: 42px;
  position: relative;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  z-index: 0;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4d5fff !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
#myheader .btn-danger:hover {
  background-color: #4d5fff !important;
  border-color: #4d5fff;
  color: white !important;
}
/* header end */

/* about us start */
.about-us {
  margin-top: -200px;
}
.about-us h6 {
  font-weight: 800;
  font-size: 20px;
  line-height: 50px;
  color: var(--black);
}
.about-us p {
  font-weight: var(--bold-font);
  line-height: 40px;
  color: var(--black);
}
.about-us h6 span {
  color: rgba(78, 96, 255, 1);
}

/* about us end */

/* services start  */

.services {
  margin-bottom: 8rem;
}
.services .title h2 {
  font-weight: var(--xxbold-font);
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: capitalize;
  color: var(--black);
}
.services .title p {
  font-weight: var(--rguler-font);
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--title-gray);
}

.services .tab-content,
.services .tab-content .tab-pane {
  height: 100%;
}
.services .tab-content .tab-pane .show-img {
  border-radius: 3px;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.services .tab-content .tab-pane .show-img::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(9, 43, 235, 0.25);
}

.services .nav-pills .nav-link {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center !important;
  text-align: start;
  border: 0.5px solid #d0d0d0;
  border-radius: 6px;
  height: 89px;
  padding-right: 2rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.services .nav-pills .nav-link h6 {
  font-weight: var(--bold-font);
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  color: var(--black);
  margin-bottom: 0;
}
.services .nav-pills .nav-link p {
  font-weight: var(--bold-font);
  font-size: 16px;
  line-height: 18px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.43);
  margin-bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.services .nav-pills .nav-link svg path {
  fill: var(--main-blue);
}

.services .nav-pills .nav-link:hover,
.services .nav-pills .nav-link.active,
.services .nav-pills .show > .nav-link {
  background-color: var(--main-blue);
  border-color: var(--main-blue);
}
.services .nav-pills .nav-link:hover svg path,
.services .nav-pills .nav-link.active svg path,
.services .nav-pills .show > .nav-link svg path {
  fill: #fafafa;
}
.services .nav-pills .nav-link:hover h6,
.services .nav-pills .nav-link.active h6,
.services .nav-pills .show > .nav-link h6 {
  color: var(--white);
}
.services .nav-pills .nav-link:hover p,
.services .nav-pills .nav-link.active p,
.services .nav-pills .show > .nav-link p {
  color: rgba(255, 255, 255, 0.62);
}

/*services end  */

/* numbers start */

.numbers {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  z-index: 0;
  margin-top: 7rem;
  margin-bottom: 10rem;
  width: 100%;
  font-family: "Poppins", sans-serif !important;
}
.numbers::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1 !important;
  background: var(--bg-color);
  top: 0;
}

.numbers .values-num h2 {
  font-weight: var(--xxbold-font);
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.5px;
  color: var(--white);
}
.numbers .values-num h3 {
  font-weight: var(--xbold-font);
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: var(--white);
  margin-bottom: 0px;
}

.numbers .values-num h4 {
  font-weight: var(--bold-font);
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: var(--white);
}

.numbers .values-num .clintnum-bottom {
  background: var(--white);
  box-shadow: 0px 3px 41px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 183px;
  height: 171px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: -85.5px;
  font-family: "Tajawal", sans-serif !important;
}

.numbers .values-num h5,
.numbers .values-num h6 {
  font-weight: var(--bold-font);
  font-size: 26px;
  color: var(--black);
}
.numbers .values-num h6 {
  font-size: 15px !important;
}
/* numbers end */

/* our clints start */
.our-clints {
  margin-bottom: 7rem;
}
.our-clints .title h2 {
  font-weight: var(--xxbold-font);
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: capitalize;
  color: var(--black);
}
.our-clints .title p {
  font-weight: var(--rguler-font);
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--title-gray);
}

.our-clints .container-fluid {
  background: #ffffff;
  box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}
.our-clints .control .next,
.our-clints .control .prev {
  position: absolute;
  z-index: 20;
  top: 43%;
  color: var(--white) !important;
  font-weight: 800 !important;
  background: rgba(30, 52, 255, 0.7);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-clints .control .prev {
  left: 20px !important;
}

.our-clints .control .next {
  right: 20px !important;
}

@media (max-width: 576px) {
  .our-clints .control .next,
  .our-clints .control .prev {
    display: none;
  }
}
/* our clints end */

/* clints rate start */
.clints-rate {
  margin-bottom: 7rem;
}
.clints-rate .title h2 {
  font-weight: var(--xxbold-font);
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: capitalize;
  color: var(--black);
}
.clints-rate .title p {
  font-weight: var(--rguler-font);
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--title-gray);
}
.clints-rate .clint-card {
  background: var(--white);
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 258px;
  margin: 0;
}
.clints-rate .clint-card .clint-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 73px;
  height: 73px;
  overflow: hidden;
}
.clints-rate .clint-card .clint-img img {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  width: 100%;
  height: 100%;
}

.clints-rate .clint-card .clint-name p {
  font-weight: var(--xxbold-font);
  font-size: 18px;
  line-height: 50px;
  color: var(--clint-name-color);
}
.clints-rate .clint-card .clint-name .rate-stars i {
  color: rgba(224, 224, 224, 1);
}

.clints-rate .clint-card .clint-name .rate-stars .checked {
  color: var(--star-color);
}
.clints-rate .clint-card .clint-comment p {
  font-weight: var(--rguler-font);
  font-size: 18px;
  line-height: 28px;
  text-align: right;
  color: var(--title-gray);
}

.clints-rate .control .next1,
.clints-rate .control .prev1 {
  position: absolute;
  z-index: 20;
  top: 43%;
  color: var(--white) !important;
  font-weight: 800 !important;
  background: rgba(30, 52, 255, 0.7);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clints-rate .control .prev1 {
  left: 20px !important;
}

.clints-rate .control .next1 {
  right: 20px !important;
}

@media (max-width: 576px) {
  .clints-rate .control .next1,
  .clints-rate .control .prev1 {
    display: none;
  }
}

/* clints rate end */

/* blogs start */

.blogs .title h2 {
  font-weight: var(--bold-font);
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 2px;
  color: var(--black);
}

.blogs .card .card-img-overlay {
  top: 60%;
}

.blogs .card .card-img-overlay .card-text {
  font-weight: var(--xxbold-font);
  font-size: 20px;
  line-height: 36px;
  text-align: right;
  letter-spacing: 2px;
  color: var(--white);
}

.blogs .card {
  border: none !important;
}

.blogs .card img {
  height: 290px;
}

.blogs .card .top-overlary {
  width: 89px;
  height: 34px;
  position: absolute;
  top: 30px;
  right: 30px;
  background: var(--blog-blue);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  font-weight: var(--rguler-font);
  font-size: 20px;
  line-height: 44px;
  letter-spacing: 2px;
}

.blogs figure {
  position: relative;
  margin-bottom: 0px;
}
.blogs figure::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 24%,
    rgba(0, 0, 0, 0.5) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
}
.blogs figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.blogs figure:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.blogs figure img {
  transition: transform 0.5s 0.2s ease;
  -webkit-transition: transform 0.5s 0.2s ease;
  -moz-transition: transform 0.5s 0.2s ease;
  -ms-transition: transform 0.5s 0.2s ease;
  -o-transition: transform 0.5s 0.2s ease;
}
/* blogs end */
