/* import font from google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
/* universal and main style  start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button,
.btn,
input,
textarea {
  box-shadow: none !important;
}
a {
  text-decoration: none;
}

/* universal and main style  end */
